<div class="game">
    <div class="campOp">
        <div class="deckOp"><div class="backCardOp"><div class="backCardOp"><div class="backCardOp"><div class="backCardOp"></div></div></div></div></div>
        <div class="handOp"><div class="backCardOp"></div><div class="backCardOp"></div><div class="backCardOp"></div><div class="backCardOp"></div><div class="backCardOp"></div></div>
        <div class="faceOp">Jaco</div>
    </div>
    <div class="board">
        <div class="boardOp">plateau adv</div>
        <div class="yourBoard">plateau joueur courant</div>
    </div>
    <div class="yourCamp">
        <div class="yourFace">Toi</div>
        <div class="yourDeck"><div class="yourBackCard"><div class="yourBackCard"><div class="yourBackCard"><div class="yourBackCard"></div></div></div></div></div>
        <div class="yourHand"><div class="yourCards"><app-card></app-card></div><div class="yourCards"><app-card></app-card></div><div class="yourCards"><app-card></app-card></div><div class="yourCards"><app-card></app-card></div><div class="yourCards"><app-card></app-card></div></div>
    </div>
</div>
