.game {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.board {
    width: 100%;
}

.faceOp {
    margin: auto;
    width: 20%;
    display: block;
}

.hpOp {
    width: 100%;
    background-color: #ED0000;
    border: 2px solid #303030;
    border-radius : 5px;
}

.campOp {

}

.deckOp {
    margin: 0;
    padding: 0;
    height: 180px;
    width: 165px;
    display: inline-block;
}

.backCardOp {
    width: 105px;
    height: 170px;
    background-image: linear-gradient(#a0b3b0, rgba(19, 35, 47, 0.9));
    border: 3px outset #303030;
    border-radius : 5px;
    display: inline-block;
}

.handOp {
    height: 180px;
}

.board {

}

.boardOp {

}

.yourBoard {

}

.slotCard {
    height: 176px;
    width: 112px;
    cursor:pointer;
    margin: 5px;
    border: 3px solid #FFFFFF;
    border-radius : 5px;
    display: inline-block;
}

.limite {

}

.bouton-finTour {
    width:15%;
    cursor:pointer;
    text-decoration: none;
    text-transform:capitalize;
    border:2px solid #303030;
    padding:6px 0 6px 0;
    border-radius:150px;
    background:#1ab188;
    font:bold 13px Arial;
    color:#fff;
}

.yourCamp {

}

.yourDeck {
    margin: 0;
    padding: 0;
    height: 180px;
    width: 165px;
    cursor:pointer;
    display: inline-block;
}

.yourBackCard {
    width: 105px;
    height: 170px;
    background-image: linear-gradient(#a0b3b0, rgba(19, 35, 47, 0.9));
    border: 3px outset #303030;
    border-radius : 5px;
    display: inline-block;
}

.yourHand {
    height: 180px;
    display: inline-block;
}

.yourCards {
    display: inline-block;
    cursor:pointer;
}

.yourFace {
    margin: auto;
    width: 20%;
    display: block;
}

.yourHp {
    width: 8%;
    background-color: #2C75FF;
    border: 2px solid #303030;
    border-radius : 5px;
}

.card {
    margin: auto;
}