<div class="game">
    <div class="campOp">
        <div class="handOp">
            <div class="backCardOp">

            </div>
            <div class="backCardOp">

            </div>
            <div class="backCardOp">

            </div>
            <div class="backCardOp">

            </div>
            <div class="backCardOp">

            </div>
        </div>
        <div class="faceOp">Jaco<div class="hpOp">150</div></div>
    </div>
    <div class="board">
        <div class="boardOp">
            <div class="slotCard">
                <app-card></app-card>
            </div>
            <div class="slotCard">
                <app-card></app-card>
            </div>
            <div class="slotCard">
                <app-card></app-card>
            </div>
            <div class="slotCard">
                <app-card></app-card>
            </div>
            <div class="slotCard">

            </div>
            <div class="deckOp">
                <div class="backCardOp">
                    <div class="backCardOp">
                        <div class="backCardOp">
                            <div class="backCardOp">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="limite">
            <div class="bouton-finTour"><button>Fin du tour</button></div>
        </div>
        <div class="yourBoard">
            <div class="slotCard">
                <app-card></app-card>
            </div>
            <div class="slotCard">

            </div>
            <div class="slotCard">

            </div>
            <div class="slotCard">

            </div>
            <div class="slotCard">

            </div>
            <div class="yourDeck">
                <div class="yourBackCard">
                    <div class="yourBackCard">
                        <div class="yourBackCard">
                            <div class="yourBackCard">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="yourCamp">
        <div class="yourFace"><div class="yourHp">45</div>Toi</div>
        <div class="yourHand">
            <div class="yourCards">
                <app-card></app-card>
            </div>
            <div class="yourCards">
                <app-card></app-card>
            </div>
            <div class="yourCards">
                <app-card></app-card>
            </div>
            <div class="yourCards">
                <app-card></app-card>
            </div>
            <div class="yourCards">
                <app-card></app-card>
            </div>
        </div>
    </div>
</div>
